.copyright
    - var currentDate = new Date();
    - var currentYear = currentDate.getFullYear();
    - var copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
    - var copyrightURL = theme.copyright.url || config.url
    - var copyrightName = theme.copyright.name || config.author
    p 保持好奇 &copy; #{copyrightYear} #[a(href='https://beian.miit.gov.cnt', rel='noreferrer', target='_blank') 京ICP备2022015182号-1]